<div class="container">

    <h2>CLINIC LIFE</h2>

    <ul>
        <li routerLink="/admin"><fa-icon [icon]="faHome" class="icon"></fa-icon> Accueil</li>
        <li routerLink="/admin/doctors"><fa-icon [icon]="faUser" class="icon"></fa-icon> Utilisateurs</li>
        <li><fa-icon [icon]="faUserDoctor" class="icon"></fa-icon> Médecins</li>
        <li routerLink="/admin/adduser"><fa-icon [icon]="faAdd" class="icon"></fa-icon> Ajout Utilisateur</li>
        <li><fa-icon [icon]="faDot" class="icon"></fa-icon> Bloc</li>
        <li><fa-icon [icon]="logout" class="icon"></fa-icon> Se déconnecter</li>
    </ul>

</div>
