<div class="container">

    <h2>Ajouter un Utilisateur</h2>

    <div class="add-item">
        <label for="">Nom</label>
        <input type="text">
    </div>

    <div class="add-item">
        <label for="">Email</label>
        <input type="text">
    </div>

    <div class="add-item">
        <label for="">N° Sécurité</label>
        <input type="text">
    </div>

    <div class="add-item">
        <label for="">N° Admission</label>
        <input type="text">
    </div>
    <div class="add-item">
        <select name="" id="">
            <option value="">Sélectionner</option>
            <option value="">Administrateur</option>
            <option value="">Patient</option>
            <option value="">Médecin</option>
        </select>
    </div>

    <button>Enregistrer</button>
</div>
