<div class="charts">

    <div class="pie" [chart]="donutChart">

    </div>

    <div class="line" [chart]="lineChart">

    </div>

</div>

<div class="requests">

    <div class="newuser">
        <h2>Nouveaux Utilisateurs</h2>

        <ol>
            <li>Nelson Mandela</li>
            <li>koffi Annan</li>
            <li>Bil Gates</li>
            <li>Barack Obama</li>
        </ol>
    </div>

    <div class="approval">
        <h2>Approuver</h2>

        <div class="approval-item">
            <span>Francis Ngannou</span>
            <button>Approbation</button>
        </div>

        <div class="approval-item">
            <span>Queen Elisabeth</span>
            <button>Approbation</button>
        </div>

        <div class="approval-item">
            <span>John Kennedy</span>
            <button>Approbation</button>
        </div>

        <div class="approval-item">
            <span>Paul Bya</span>
            <button>Approbation</button>
        </div>

    </div>

</div>

